@font-face {
  font-family: "Raleway";
  src: url(./raleway/Raleway-Medium.ttf);
}

body {
  font-family: "Raleway", "Helvetica Neue", Helvetica, serif;
  background-color: #fafafa;
  color: #404040;
  line-height: 150%;
}
*:focus {
    outline: 0;
}
h1, h2, h3 {
  font-size: 300%;
  font-weight: bold;
  padding: 2rem 0;
  text-align: left;
  line-height: 100%;
}

h1 {
  text-decoration: underline;
}

h2 {
  font-size: 200%;
}

p {
  padding: 0.5rem 0;
}

ul, ol {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 2rem;
}
ol {
  list-style: lower-alpha;
}
li {
  padding: 0.5rem 0;
}

em {
  font-style: italic;
}
b {
  font-weight: bold;
}
a, a:visited {
  color: #404040;
}
a:hover {
  background-color: #22CCEA;
}

article {
  padding: 1rem;
  margin: 2rem;
  border-top: #bababa solid thin;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article:first-child {
  border-top: thin none;
}

table {
  width: 100%;

  text-align: center;
  -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}

th {
  font-weight: lighter;
  font-size: 150%;
  padding: 0.5rem;
}

td {
  padding: 0.5rem;
}

tbody tr:nth-child(2n+1) {
  background-color: #bababa;
}

/* ---- Side bar ---- */

.side-bar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
	width: 25%;
  -webkit-box-shadow: 0px 10px 64px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 64px -5px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 64px -5px rgba(0,0,0,0.75);
}

textarea {
	width: 100%;
  height: 100%;
  font-family: "Raleway", "Helvetica Neue", Helvetica, serif;
  line-height: 150%;
	resize: none;
  padding: 1rem;
	background-color: #fafafa;
	border: thin none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
}

.column {
  display: inline-block;
  vertical-align: middle;
  margin: 1rem 2rem 1rem 0;
  width: 420px;
}

.top-aligned {
  vertical-align: top;
}

/* ---- Main content ---- */

.section-title {
  text-align: center;
}

.main-content {
	width: 75%; 
	overflow-y: scroll;
  position: fixed;
  left: 25%;
  top: 0;
  bottom: 0;
  padding-left: 4rem;
	border: thin none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media all and (max-width: 736px) {
  .side-bar {
    width: 100%;
    height: 25%;
  }
  .main-content {
    width: 100%;
    left: 0;
    top: 25%;
    padding: 0;
  }
  
  article {
    margin: 0 auto;
    width: 420px;
    max-width: 100%;
  }
  .column {
    max-width: 100%;
  }
}

@media all and (max-width: 480px) {
  th {
    font-size: 100%;
    font-weight: bold;
  }
}

/* ---- SVG stuff ---- */

.svg-container-1, .svg-container-2 {
  overflow-x: auto;
  overflow-y: hidden;
}
.axis path, .axis line {
  fill: none;
  stroke: #404040;
  shape-rendering: crispEdges;
}
path {
  fill: none;
  stroke: #404040;
}
circle {
  fill: #404040;
  stroke: black;
}
circle:hover {
  fill: #22CCEA;
  stroke: black;
}